[submodule "crates/generated/minecraft-data"]
	path = crates/generated/minecraft-data
	url = https://github.com/PrismarineJS/minecraft-data
[submodule "minecraft-data"]
	path = minecraft-data
	url = https://github.com/PrismarineJS/minecraft-data
[submodule "libcraft/crates/generators/minecraft-data"]
	path = libcraft/crates/generators/minecraft-data
	url = https://github.com/PrismarineJS/minecraft-data
