**/target
**/*.rs.bk
**/.idea
**/.vscode

# Cargo build configuration
.cargo

world/
feather/downloaded
feather/datapacks/minecraft/
config.toml
plugins
banned-players.json
banned-ips.json
usercache.json

# Python cache files (libcraft)
**/__pycache__/

# macOS desktop files
**/.DS_STORE
